/* Styling for the competences list container */
.competences-list-row {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centre les cartes au centre horizontalement */
    gap: 30px; /* Espace entre les divs enfants */
    position: relative;
    padding: 40px;
    align-items: start; /* Les boîtes s'aligneront selon leur propre contenu */
}

.competences-list-colomn {
    display: grid;
    justify-content: center; /* Centre les cartes au centre horizontalement */
    gap: 30px; /* Espace entre les divs enfants */
    position: relative;
    align-items: start; /* Les boîtes s'aligneront selon leur propre contenu */
}

/* Competence box styling */
.competence-box {
    width: 500px;
    backdrop-filter: blur(4px);
    background-color: #03062C88;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
}

.competence-box.certifications {
    margin-top: 75px;
}


.competence-box h1 {
    font-size: clamp(24px, 2vw, 30px);
    font-weight: 600;
    color: #D4F0FA;
    margin: 0;
    margin-bottom: 25px;
}

.certification-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    border-radius: 50px;
    width: fit-content;
    margin-bottom: 20px;
}


.certification-text {
    background-color: #D4F0FA;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    width: 400px; /* Ajout de l'unité 'px' pour la largeur */
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden; /* Empêche le texte de dépasser la boîte */
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    text-overflow: ellipsis; /* Ajoute '...' si le texte est trop long */
}



.cert-icon {
    display: flex;
    padding: 5px;
    height: auto;
    width: 40px;
}

.certification-text h1 {
    color: #03062C;
    font-size: 15px;
    font-weight: 700;
    margin: 0;
}

/* Flexbox container for icons */
.techno-competences {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px; /* Limits the width to 500px */
}

/* Icon styles */
.techno-competences .icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, fill 0.3s ease;
}

/* Hover effect for icons */
.techno-competences .icon:hover {
    transform: scale(1.15);
    filter: saturate(2);
}

/* Path inside icon changes on hover */
.techno-competences .icon path {
    transition: fill 0.3s ease;
}
