.canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Canvas derrière HomeInfos */
    pointer-events: none; /* Laisser les événements pointer traverser le canvas */
    background-color: #03062C; /* Ajouter la couleur de fond */
  }
  
  .canvas {
    width: 100%;
    height: 100%;
  }
  