.home-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Canvas derrière HomeInfos */
    
    background-color: #03062C; /* Ajouter la couleur de fond */
    background-image: url('../assets/background.png'); /* Image de fond */
    background-size: cover; /* Adapter l'image à la taille du conteneur */
    background-repeat: no-repeat; /* Ne pas répéter l'image */
    background-position: center; /* Centrer l'image */
  }
  
  .canvas {
    width: 100%;
    height: 100%;
  }
  