.TextInfos > * {
    margin-bottom: 15px; /* Ajoute une marge sous chaque élément enfant de TextInfos */
}


.HomeInfos {
    position: relative;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column; /* ou row selon la disposition souhaitée */
    gap: 20px; /* Définit l'espacement entre les éléments enfants */
    
}

.Split {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center; 
  gap: 40px;
}

.salut{
    color: #8FA9CA;
    font-size: 20px;
    position: relative;
    top: 15px; /* Déplace l'élément de 100px vers le bas */
}

.clement{
    color: #D4F0FA;
    font-size: 45px;
}

.developpeur{
    color: #FFDC67;
    font-size: 30px;
}


.construis{
    color:#8FA9CA;
    font-size: 10px;
    line-height: 15px;
    border-style: dotted;
    border-color: rgba(255, 0, 0, 0);
}

.precision {
    background: linear-gradient(to right, #FFDC67, #F532CD);
    -webkit-text-fill-color: transparent; /* Utilisé pour les navigateurs WebKit */
    background-clip: text; /* Pour la compatibilité */
}

.passion {
    background: linear-gradient(to right, #FF4FFC, #00FFCC);
    -webkit-text-fill-color: transparent; /* Utilisé pour les navigateurs WebKit */
    background-clip: text; /* Pour la compatibilité */
}

.SocialIcons {
    display: flex; 
    gap: 20px; 
}

.SocialIcons .icon {
    width: 40px;
    cursor: pointer;
    height: 40px;
}


.SocialIcons .icon:hover {
    transform: scale(1.25);
}

.SocialIcons .icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease, fill 0.3s ease;
}

.SocialIcons .icon path {
    transition: fill 0.3s ease;
}

.SocialIcons .icon:hover path {
    fill: #FFDC67;
}
