.TextInfos > * {
    margin-bottom: 35px; /* Ajoute une marge sous chaque élément enfant de TextInfos */
}

.HomeInfos {
    position: relative;
    z-index: 2;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column; /* ou row selon la disposition souhaitée */
    gap: 20px; /* Définit l'espacement entre les éléments enfants */
    
}

.Split {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center; 
  gap: 40px;
}

.salut{
    color: #8FA9CA;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    top: 15px; /* Déplace l'élément de 100px vers le bas */
}

.clement{
    color: #D4F0FA;
    font-size: 45px;
    font-weight: 800;
    top: 15px;
}

.developpeur{
    color: #FFDC67;
    font-size: 30px;
    font-weight: 700;
    line-height: 20px;
}

.construis h1 {
    color: #8FA9CA;
    font-size: 23px;
    line-height: 15px;
    font-weight: 400;
}


.precision {
    background: linear-gradient(to right, #FFDC67, #F532CD);
    -webkit-text-fill-color: transparent; /* Utilisé pour les navigateurs WebKit */
    background-clip: text; /* Pour la compatibilité */
    font-weight: 600;
}

.passion {
    background: linear-gradient(to right, #FF4FFC, #00FFCC);
    -webkit-text-fill-color: transparent; /* Utilisé pour les navigateurs WebKit */
    background-clip: text; /* Pour la compatibilité */
    font-weight: 600;
}

.SocialIcons {
    display: flex; 
    gap: 30px; 
}

.SocialIcons .icon {
    width: 40px;
    cursor: pointer;
    height: 40px;
}


.SocialIcons .icon:hover {
    transform: scale(1.25);
}

.SocialIcons .icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease, fill 0.3s ease;
}

.SocialIcons .icon path {
    transition: fill 0.3s ease;
}

.SocialIcons .icon:hover path {
    fill: #FFDC67;
}
