.navbar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 15px;
    font-size: 10px;
    gap: 30px;
    color: #D4F0FA;
}

.navbar-button{
    cursor: pointer;
}
  