.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.texte-image {
    display: flex;
    width: 100%;
    flex-direction:row-reverse
}

.texte-experience {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-entreprise {
    display: flex;
    align-items: center;
    justify-content: center; /* Pour centrer horizontalement l'image aussi si besoin */
}

.image-entreprise img {
    max-width: 380px;
    border-radius: 20px;
    display: block;
    max-height: 100%; /* Pour s'assurer que l'image reste dans son conteneur */
}



.date-entreprise h1,
.lieu h1 {
    font-size: 20px;
    font-weight: 400;
    color: #8FA9CA;
    margin: 0;
}

.poste h1 {
    font-size: 24px;
    font-weight: 600;
    color: #D4F0FA;
    margin: 0;
}

.experience-bulletpoints h1 {
    font-size: 18px;
    font-weight: 400;
    color: #D4F0FA;
    margin: 5px 0;
    line-height: 1.8; 
}

.technos {
    display: flex;
    gap: 30px;
}

.technos .icon {
    width: 40px;
    height: 40px;
}

.technos .icon:hover {
    transform: scale(1.15);
    filter: saturate(2);
}

.technos .icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, fill 0.3s ease;
}

.technos .icon path {
    transition: fill 0.3s ease;
}





@media (max-width: 1250px) {
    .texte-image {
        flex-direction: column;
        align-items: center;
        gap:20px
    }

    .texte-experience,
    .image-container {
        flex: none;
        width: 620px;
    }
}

