.main-page {
  color: #D4F0FA;
}

.home-container {
  position: relative; /* Maintient la structure normale pour permettre à la div suivante de s'afficher */
  width: 100%;
  min-height: 100vh; /* Prend toute la hauteur de la fenêtre */
  z-index: 1;
  background-color: #03062C;
  background-image: url('assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.experiences-container{
  background-color: #00113C;
  background-image: linear-gradient(#1b2a7c 1px, transparent 1px), 
                    linear-gradient(90deg, #1b2a7c 1px, transparent 1px);
  background-size: 50px 50px; /* Ajustez la taille de la grille ici */
  background-position: 0 0;
  background-attachment: fixed; /* Garde la grille fixe lors du scroll */
  width: 100%;
  height: 1300px; 
}

.projects-container{
  height: 2000px;
  background-color: #03062C;
}

.skills-container{
  height: 2000px;
  background-color: #192651;
}

.contact-container{
  height: 2000px;
  background-color: #03062C;
}