
.canvas-container {
  position: relative;
}

.home-infos {
  position: relative;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  /* Ajuster si nécessaire */
  height: 100%; /* Ajuster si nécessaire */
}

.main-page {
  user-select: text;
}